body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1F2937;
    height: 450px;
}

a, .one {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style: none;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#title {
    font-size: 24px;
    color: #f9faf8;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#title1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900px;
}

.one {
    width: 400px;
    height: auto;
}


.btn1 {
    background-color: #3882F6;
    color: white;
    width: 120px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    border: #1F2937;
}



