body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1F2937;
    height: 450px;
}

a, .one, .text {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.text {
    color: gray;
    max-width: 200px;
}

ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style: none;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#title {
    font-size: 24px;
    color: #f9faf8;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}


#title1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900px;
}

.one {
    width: 400px;
    height: auto;
}


.btn1 {
    background-color: #3882F6;
    color: white;
    width: 120px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    border: #1F2937;
    font-size: 20px;
}

.description  {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items { 
    display: flex;
    flex-direction: row;
    gap: 52px;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900px;
}

.quote{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 400px;
    background-color: #e5e7eb;
    margin-top: 100px;
}

.quotetext {
    text-align: left;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300px;
    max-width: 900px;
}