body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1F2937;
    height: 450px;
}

a, .one, .text {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.text {
    color: gray;
    max-width: 200px;
}

ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style: none;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#title {
    font-size: 24px;
    color: #f9faf8;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}


#title1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900px;
}

.one {
    width: 400px;
    height: auto;
}


.btn1, .btn2 {
    background-color: #3882F6;
    color: white;
    width: 120px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    font-size: 20px;
}

.description  {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items { 
    display: flex;
    flex-direction: row;
    gap: 52px;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900px;
}

.quote{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 400px;
    background-color: #e5e7eb;
    margin-top: 100px;
    padding-right: 100px;
}

.quotetext {
    max-width: 900px;
}

.autortext {
    text-align: left;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300px;
    margin-bottom: 0px;
}

.autor {
    margin-top: 0px;
    font-size: 30px;
    text-align: right;
    font-weight: bold;
    align-items: baseline;
}


.container {
    padding: 90px 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    display: flex;
    background-color: #3882F6;
    height: 150px;
    width: 1000px;
    border-radius: 15px;
    align-items: center;
}

.paragraph {
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 100px
}

#actiontitle {
    margin-top: 0;
    margin-bottom:0px;
    font-size: 27px;
    color: #f9faf8
}
.actiontext {
    font-size: 19px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}

#Signbtn {
    border: solid 2px #e5e7eb;
    height: 50px;
}

footer {
    background-color: #1F2937;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footertext {
    color:  #f9faf8;
}